---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Startseite">
  <h1>Aufnahmeantrag</h1>
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSfzAo7OSNJSknVaxq5WDcZyc_xelBrjFzpvxkZL4i0eHdp9QA/viewform?embedded=true"
    width="480"
    height="800"
    frameborder="0"
    marginheight="0"
    marginwidth="0">Wird geladen…</iframe
  >
</Layout>

<style>
  form {
    display: grid;
    gap: 1rem;
  }

  form div {
    display: grid;
    gap: 0.5rem;
  }

  form label {
    font-weight: 600;
  }

  form input,
  form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }

  form input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
</style>
