---
import "@effective/css-reset/dist/assets/ResetNative.css"
import "@effective/css-reset/dist/assets/SensibleEnhancements.css"
import "@effective/css-reset/dist/assets/ResponsiveType.css"
import logo from "../assets/logo.svg"
import favicon from "../assets/favicon.svg"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Homepage des Fördervereins des Evangelischen Kindergartens 'Das Baumhaus' Großsachsen e.V."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" type="" href={favicon.src} />
    <title>{title} - Förderverein "Das Baumhaus"</title>
  </head>
  <body>
    <header>
      <a href="/"><img alt="Förderverein Das Baumhaus" src={logo.src} /></a>
      <nav>
        <ul>
          <li>
            <a href="/">Startseite</a>
          </li>
          <li>
            <a href="/satzung">Satzung</a>
          </li>
          <li>
            <a href="/impressum">Impressum</a>
          </li>
          <li>
            <a href="/anmeldung">Anmeldung</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      Copyright 2024, Förderverein des Evangelischen Kindergartens "Das
      Baumhaus" Großsachsen e.V.
    </footer>
  </body>
</html>

<style is:global>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f7f1eb;
  }
  header {
    background-color: #e8d0bb;
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  header img {
    max-height: 10rem;
    width: 100vw;
    object-fit: contain;
  }
  nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #8a633d;
    padding: 1rem;
  }
  nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  nav li main {
    padding: 2rem;
    background: white;
    margin-inline: auto;
    max-width: 60ch;
  }
  nav li a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }

  main {
    flex-grow: 1;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    background: white;
    margin-inline: auto;
    max-width: 60ch;
  }
  main a {
    text-decoration: underline;
  }
  main h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    color: #108226;
  }
  main h2 {
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  main img {
    margin-block: 1rem;
  }

  main ul {
    margin-inline: 1rem;
  }

  main p,
  main ul {
    margin-bottom: 1lh;
  }

  footer {
    background-color: #8a633d;
    padding: 1rem;
    font-size: 0.875rem;
    color: white;
    text-align: center;
  }
</style>
