---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header><h1>Förderverein Baumhaus</h1></header>
    <main>
      <slot />
    </main>
    <footer>Copyright Förderverein Baumhaus e. V.</footer>
  </body>
</html>

<style>
  body {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
