---
import "@effective/css-reset/dist/assets/ResetNative.css";
import "@effective/css-reset/dist/assets/SensibleEnhancements.css";
import "@effective/css-reset/dist/assets/ResponsiveType.css";
import logo from "../assets/logo.svg";
import favicon from "../assets/favicon.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" type="" href={favicon.src} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <a href="/"><img src={logo.src} /></a>
      <h1>
        <a href="/">Förderverein "Das Baumhaus"</a>
      </h1>
      <nav>
        <ul>
          <li>
            <a href="/">Startseite</a>
          </li>
          <li>
            <a href="/impressum">Impressum</a>
          </li>
          <li>
            <a href="/anmeldung">Anmeldung</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      Copyright 2024, Förderverein des Evangelischen Kindergartens "Das
      Baumhaus" Großsachsen e.V.
    </footer>
  </body>
</html>

<style is:global>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff8ec;
  }
  header {
    background-color: #1a6062;
    color: white;
    padding: 1rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  header img {
    width: 2rem;
  }
  header h1 {
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 1;
    white-space: nowrap;

    @media screen and (min-width: 32rem) {
      font-size: 1.5rem;
    }
  }
  header h1 a {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  header h1 img {
    margin-right: 1rem;
  }
  nav {
  }
  nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  nav li main {
    padding: 2rem;
    background: white;
    margin-inline: auto;
    max-width: 60ch;
  }
  main {
    flex-grow: 1;
    padding: 2rem;
    background: white;
    margin-inline: auto;
    max-width: 60ch;
  }
  main a {
    text-decoration: underline;
  }
  main h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0.5rem;
    color: #1a6062;
  }

  main img {
    margin-block: 1rem;
  }

  main ul {
    margin-inline: 1rem;
  }

  main h2 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  main p,
  main ul {
    margin-bottom: 1rem;
  }

  footer {
    background-color: #343434;
    padding: 1rem;
    font-size: 0.875rem;
    color: white;
  }
</style>
